.footer-bg {
    background-color: #ebf8ff;
  }
  
  .footer-container {
    padding: 2rem;
    display: flex;
   
    align-items: center;
  }
  
  .footer-container-sm {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    color: #1e40af; /* blue-900 */
  }
  
  .logo-image {
    height: 100px;
    border: 2px solid black;
  }
  
  .footer-text {
    color: #60a5fa; /* blue-400 */
    margin-left: 1rem;
    font-size: 1.25rem;
  }
  
  .copyright-text {
    font-size: 0.875rem;
    color: #60a5fa; /* blue-500 */
    margin-top: 1rem;
    padding-left: 1rem;
    border-left: 2px solid #bfdbfe; /* blue-200 */
  }
  
  .social-icons {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
  }
  
  .social-icon {
    font-size: 2rem;
    color: #60a5fa; /* blue-500 */
  }
  
  .social-icon:hover {
    color: #f87171; /* red-400 */
  }
  
  .icon-spacing {
    margin-left: 1rem;
  }
  